body {
    margin: 0;
}

ul {
    list-style-type: none;
}

h2 {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: beige;
}

.header-links {
    display: flex;
    flex-direction: row;
}

.introduction {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: beige;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quote {
    background-color: antiquewhite;
}

#mainimg {
    width: 300px;
    height: 100px;
}

#author {
    text-align: right;
}